config NANOHUB
	tristate "Nanohub"
	default N
	help
	  Enable support for the nanohub sensorhub driver.

	  This driver supports the android nanohub sensorhub.

	  If in doubt, say N here.

if NANOHUB

config NANOHUB_SPI
	bool "Nanohub SPI"
	default Y
	help
	  Enable nanohub SPI support.

	  Either this or NANOHUB_I2C should be selected.

	  If in doubt, say Y here.

config NANOHUB_I2C
	bool "Nanohub I2C"
	default N
	help
	  Enable nanohub I2C support.

	  Either this or NANOHUB_SPI should be selected.

	  If in doubt, say N here.

config NANOHUB_CONTEXTHUB_HAL
	bool "Nanohub ContextHub HAL"
	default N
	help
	  Enable contextHub HAL support.

config NANOHUB_TP_SWITCH
	bool "TP switch pin status synchronization"
	default n
	help
	  TP switch pin status synchronization

config NANOHUB_SECOND_DISP
	bool "Second Disp"
	default n
	depends on NANOHUB_TP_SWITCH
	help
	  Second Disp

config NANOHUB_HTC_LOG
	bool "Trigger dump htc log"
	default n
	help
	  Trigger dump htc log

endif # NANOHUB
